body {

}

/*Admin Navbar */
header {
	display: flex;
	background-color: #2f7173;
	height: 66px;
}
.header-wrapper .admin-navbar {
	flex: 1;
}

.header-wrapper .admin-navbar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.header-wrapper .admin-navbar ul li  {
	padding: 18px;
	
}

/* Parent wrapper */
.admin-wrapper {
	height: calc(620px - 66px); /* Height of page - navbar height */
	display: flex;
	padding: 0;
	margin: 0;
}

/*Child elements */
.admin-wrapper .left-sidebar {
	flex: 2;
	background-color: #5F9EA0;
	letter-spacing: 1.3px;
}

.admin-wrapper .admin-content {
	flex: 8;
	overflow-y: scroll;
	padding: 40px 100px 0px 100px;
}

/* Left Sidebar Styling */
.admin-wrapper .left-sidebar ul {
	margin: 0px;
	padding: 0px;	
}

.admin-wrapper .left-sidebar ul li a {
	padding: 18px;
	display: block;
	border-bottom: 2px solid #2f7173;
	text-decoration: none;
	color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a:hover {
	background-color: #2f7173;
}

/*Title */
.admin-content .page-title {
	text-align: center;
	margin-bottom: 1.5rem;
	color: #2f7173;
	letter-spacing: 1.3px;
}

/* Top Buttons */
.btn {
	background-color: #5F9EA0;
	border-radius: 10px; /*curved edges around button */
	letter-spacing: 1.2px;
	padding: 10px;
	text-decoration: none;
	margin-right: 25px;
	color: aliceblue;
}

.btn:hover {
	background-color: #2f7173;
}

/* Table Styling */
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1rem;
}

/* Table Header and Table Data */
th, td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid black;	
}

/*Edit, Delete, Publish Styling */
.edit {
	color: green;
	text-decoration: none;
}

.delete {
	color: red;
	text-decoration: none;
}

.publish {
	color: blue;
	text-decoration: none;
}

/*Hover effects for Edit, Delete, Publish */
.edit:hover {
	text-decoration-line: underline;
}
.delete:hover{
	text-decoration: underline;
}
.publish:hover {
	text-decoration: underline;
}

/* Add Post -Form Styling */

form div {
	padding-bottom: 15px;
}

/*Box styling */
.text-input {
	width: 800px;
	height: 30px;	
}

label {
	font-size: 18px;
	margin-bottom: 5px;
}







