/*Admin Navbar */
.header-wrapper {
	display: flex;
	background-color: red;
	height: 66px;
}
.header-wrapper .admin-navbar {
	background-color: red;
	height: 66px;
	flex: 1;
}

.header-wrapper .admin-navbar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.header-wrapper .admin-navbar ul li  {
	padding: 18px;
	
}

/* Parent wrapper */
.admin-wrapper {
	display: flex;
	height: calc(100% - 66px);
	border: 1px solid red;
}

/*Child elements */
.admin-wrapper .left-sidebar {
	flex: 2;
	height: 100%;
	background-color: pink;
}

.admin-wrapper .admin-content {
	flex: 8;
	height: 100%;
	overflow-y: scroll;
	padding: 40px 100px 0px 100px;
}

/* Left Sidebar Styling */
.admin-wrapper .left-sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a {
	padding: 18px;
	display: block;
	border-bottom: 1px solid black;
}

.admin-wrapper .left-sidebar ul li a:hover {
	background-color: red;
}