.body  {
	border: 20px solid #bdc3c7;
	font-family: 'Lora', serif;
	padding:20px;
	width: 80%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
	background-image: url(../img/main-dirt-road.jpg);
	background-repeat: no repeat;
	background-size: cover;
	margin-bottom: 35px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Nav Bar */
nav {
	float: right;
    padding: 0px 0px;
    margin: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #6E6E6E;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: bold;
}

.container {
	clear: both;
	height: 300px;
}

.display-title {
	font-size: 3.0rem;
	color: #537c59;
	padding: 50px 0 0 10px;
}

.display-subtitle {
	padding-left: 15px;
	padding-right: 15px;
	color: #43704D;
	font-weight: bold;
	font-size: 20px;
}
/*Newsletter Section */

}
.newsletter-section {
	margin: 40px 0 10px 50px;
}

hr {
	margin-top: 40px;
	border: 3px solid #bdc3c7;
	border-radius: 5px;
}
.newsletter-section p{
	text-align: center;
}

.firstp{
	border-left: 3px solid #bdc3c7;
	padding-left: 5px;
	padding-right: 15;
	margin-left: 20px;
}

p{
	padding-left: 15px;
	padding-right: 15px;
	color: #43704D;
	font-weight: regular;
	font-size: 20px;

}
/*date*/
h4 {
	padding-left: 15px;
	padding-left: 15px;
	text-transform: uppercase;
	color: #43704D;
	letter-spacing: 2px ;
	font-size: 13px;
	color: #43704D;
}

/*article title*/
h2{
	padding-left: 20px;
	padding-left: 20px;
	text-transform: capitalize;
	font-weight: bold;
	color: #43704D;
	font-size: 2.0rem;
}

hr{
	padding-left: 20px;
	padding-left: 20px;
	color: #43704D;	
}
#copyright {
	text-align: center;
	font-size: 15px;
	margin: 50px 0 10px 0;
}